<% if (locals.error) { %>
    <div id="status"
        class="transition-all ease-in-out duration-500 w-full bg-red-300 border-2 border-orange-500 text text-red-900 p-4 ">
        <h1>
            <%= error %>
        </h1>
    </div>
    <% } %>
        <div class="container px-28 py-8">
            <div class="py-12">
                <h1 class="text-4xl text-[#605c5c] font-bold"> Edit Critical Part</h1>

            </div>
            <hr>
            <div>
                <form action="/cp/<%= data.material_master %>/<%= data.tahun %>/<%= data.id_unit %>/update" method="post"
                    id="formInput">
                    <div class="w-96">
                        <div class="w-96">
                            <div class="flex-col flex gap-2 py-2">
                                <label class="text-amber-800 " for="username">tahun</label>
                                <input type="text" name="tahun" id="tahun" value="<%= data.tahun %> " disabled>
                            </div>
                            <div class="flex-col flex gap-2 py-2">
                                <label class="text-amber-800 " for="material_">Barang</label>
                                <input type="text" name="material_master" id="material_master"
                                    value="<%= data.material_master %>" disabled>
                            </div>
                            <div class="flex-col flex gap-2 py-2">
                                <label class="text-amber-800 " for="id_unit">Unit / User</label>

                                <input type="text" name="id_unit" id="id_unit" value="<%= data.Unit?.unit %>" disabled>
                            </div>
                            <div class="py-4 grid grid-cols-4 gap-4">
                                <div>
                                    <label for="jan">Jan:</label>
                                    <input type="number" id="jan"
                                        class="w-16 h-12 p-2 border border-gray-300 rounded-md text-lowercase"
                                        name="jan" placeholder="jan" value="<%=data.jan %>">
                                </div>
                                <div>
                                    <label for="feb">Feb:</label>
                                    <input type="number" id="feb"
                                        class="w-16 h-12 p-2 border border-gray-300 rounded-md text-lowercase"
                                        name="feb" placeholder="feb" value="<%= data.feb %>" readonly
                                        onfocus="this.removeAttribute('readonly');">
                                </div>
                                <div>
                                    <label for="mar">Mar:</label>
                                    <input type="number" id="mar"
                                        class="w-16 h-12 p-2 border border-gray-300 rounded-md text-lowercase"
                                        name="mar" placeholder="mar" value="<%=data.mar  %>">
                                </div>
                                <div>
                                    <label for="apr">Apr:</label>
                                    <input type="number" id="apr"
                                        class="w-16 h-12 p-2 border border-gray-300 rounded-md text-lowercase"
                                        name="apr" placeholder="apr" value="<%= data.apr %>">
                                </div>
                                <div>
                                    <label for="mei">Mei:</label>
                                    <input type="number" id="mei"
                                        class="w-16 h-12 p-2 border border-gray-300 rounded-md text-lowercase"
                                        name="mei" placeholder="mei" value="<%=data.mei  %>">
                                </div>
                                <div>
                                    <label for="jun">Jun:</label>
                                    <input type="number" id="jun"
                                        class="w-16 h-12 p-2 border border-gray-300 rounded-md text-lowercase"
                                        name="jun" placeholder="jun" value="<%= data.jun %>">
                                </div>
                                <div>
                                    <label for="jul">Jul:</label>
                                    <input type="number" id="jul"
                                        class="w-16 h-12 p-2 border border-gray-300 rounded-md text-lowercase"
                                        name="jul" placeholder="jul" value="<%=data.jul  %>">
                                </div>
                                <div>
                                    <label for="ags">Ags:</label>
                                    <input type="number" id="ags"
                                        class="w-16 h-12 p-2 border border-gray-300 rounded-md text-lowercase"
                                        name="ags" placeholder="aug" value="<%= data.aug %>">
                                </div>
                                <div>
                                    <label for="sep">Sep:</label>
                                    <input type="number" id="sep"
                                        class="w-16 h-12 p-2 border border-gray-300 rounded-md text-lowercase"
                                        name="sep" placeholder="sep" value="<%= data.sep %>">
                                </div>
                                <div>
                                    <label for="okt">Okt:</label>
                                    <input type="number" id="okt"
                                        class="w-16 h-12 p-2 border border-gray-300 rounded-md text-lowercase"
                                        name="okt" placeholder="oct" value="<%= data.oct %>">
                                </div>
                                <div>
                                    <label for="nov">Nov:</label>
                                    <input type="number" id="nov"
                                        class="w-16 h-12 p-2 border border-gray-300 rounded-md text-lowercase"
                                        name="nov" placeholder="nov" value="<%= data.nov %>">
                                </div>
                                <div>
                                    <label for="des">Des:</label>
                                    <input type="number" id="des"
                                        class="w-16 h-12 p-2 border border-gray-300 rounded-md text-lowercase"
                                        name="des" placeholder="des" value="<%= data.des %>">
                                </div>
                            </div>
                            <div class="py-3">
                                <input type="submit"
                                    class="px-4 py-2 rounded-3xl bg-gradient-to-t from-yellow-700 border-2 border-slate-300 to-amber-700 text-white"
                                    value="Submit">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
        </div>
        </div>

        </div>
        </div>
        <script>
            function validateForm() {
                var excelFile = document.getElementById("excelFile");
                if (excelFile.files.length === 0) {
                    const error = document.createElement('p');
                    error.innerText = 'Pilih file terlebih dahulu.';
                    const status = document.getElementById('status')
                    status.hidden = false;
                    status.appendChild(error)
                    return false;
                }

                return true;
            }

            function isSubmitData() {
                if (window.confirm('Apakah Anda yakin menyimpan perubahan?')) {
                    return true;
                } else {
                    return false;
                }
            }

        </script>