<section class="lg:p-12  p-4 md:p-22 ">
    <div class="bg-white p-4 rounded-2xl h-screen  w-full">
    <div class="pb-8">
        <h2 class="text-4xl text-[#605c5c] font-bold">Daftar Plant</h2>
    </div>
    <div class="flex w-full justify-end px-5 py-4">
        <a class="bg-gradient-to-b from-green-400 to-teal-600 px-3 py-1 rounded-lg text-white shadow-md shadow-emerald-700"
            href="./addPlant">
            +
            Plant</a>
    </div>
    <div class="bg-white shadow-cyan-200 rounded-3xl overflow-auto border-2 shadow-md">
        <div class="shadow-sm shadow-cyan-300 overflow-hidden">
            <table class="table-auto w-full border-collapse px-4 md:px-8 lg:px-12 text-center">
                <thead class="bg-gray-300">
                    <tr>
                        <th class="py-2">No</th>
                        <th>Plantname</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody class="border border-y-[#E1CFFF]">
                    <% data.forEach((plant, index) => { %>
                    <tr class=" bg-gradient-to-t hover:from-gray-50 hover:to-slate-200 odd:bg-gray-100 even:bg-white">
                        <td><%= (currentPage-1)*totalPages+index+1 %></td>
                        <td><%= plant.plant %></td>
                    
                        <td class="p-2 w-30 text-white jus">
                            <div class="flex justify-evenly">
                            <a
                                 href="./plant/<%= plant.id_plant %>"   class="transition-all duration-500 py-1 px-2 md:px-4 lg:px-6 bg-gradient-to-r from-yellow-500 to-amber-600 rounded-xl hover:from-yellow-400 hover:to-amber-500  active:from-yellow-700 active:to-amber-800 ">Edit</a>
                           <form action="./plant/<%= plant.id_plant %>/delete" method="post">
                            <button onclick="return isDelete()" class="border-2 border-amber-600 bg-slate-100 text-amber-600 font-semibold rounded-full px-2 py-1 hover:bg-gray-50 hover:border-amber-800 hover:text-amber-800" type="submit">Delete</button>
                           </form>
                                </div>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>

                </tbody>
            </table>
        </div>
    </div>
    <div id="pagination" class="flex gap-10 my-10 justify-center font-mono text-xl font-extrabold text-gray-400">
        <a href="/plant?page=<%= currentPage - 1 %>">
            <div id="previousPage"
                class="transition ease-in-out duration-500 border-2 border-gray-400 px-2 bg-white rounded md cursor-pointer hover:bg-slate-300 hover:text-white hover:border-white">
                <% if (currentPage > 1) { %>
                -
                <% } else { %>
                <span class="disabled" disabled>
                    -
                </span>
                <% } %>
            </div>
        </a>
        <div id="currentPage"> <%= currentPage %> </div>
        <a href="/plant?page=<%= currentPage + 1 %>">
            <div id="nextPage"
                class="  transition ease-in-out duration-500  border-2 border-gray-400 px-2 bg-white rounded-md cursor-pointer hover:bg-slate-300 hover:text-white hover:border-white">
                <% if (currentPage < totalPages) { %>
                + 
                <% } else { %>
                <span class="disabled" disabled>
                    +
                </span>
                <% } %>
            </div>
        </a>
        </div>
    </div>
</section>

<script>
    const isDelete = ()=>{
        if(window.confirm("apakah anda yakin ingin mengahpus data ini")){
            return true 
        }else{
            return false
        }
    }
</script>